.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: #2c3139dd ;
}

.footer_text p {
    font-size: 1.6rem;

}
.footer_iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background:  #0ef;
    border-radius: .8rem;
    transition: .5s ease;

}

.footer_iconTop a:hover{
    box-shadow: 0 0 1rem  #0ef;
}

.footer_iconTop a i{
    font-size: 2.4rem;
    color:  #323946;
    
}